//header image

.background__item--content1 {
  max-width: 100%;
}

//nav

nav {
  margin-bottom: 20px;
  .navbar {
    ul {
      li {
        margin-right: 20px;
      }
    }
  }
  .navbar__element {
    font-family: $mainFont;
    font-size: 18px;
    color: rgb(80, 80, 80);
  }
  .navbar-brand {
    margin-left: 20px;
  }
  i {
    margin-left: 8px;
  }
}

@media (min-width: 768px){
  .navbar {
    ul {
      li {
        a {
          position: relative;
        }
      }
    }
  }
  #navbarNav {
    margin-right: 20px;
  }
}

// style of each card
.card {
  text-align: center;
  width: 18rem;
  margin: 10px;
  border: none;
  border-radius: 20px;
  .card-body {
    text-align: center;
  }
  .btn {
    background-color: green;
    border: none;
  }
}

// Footer

footer {
  height: 70px;
  background-image: url(../img/image_footer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  .fab {
    margin-right: 20px;
    font-size: 2em;
    color: white;
  }
  .fa-twitter-square {
    border-right: 1px solid white;
    padding-right: 20px;
  }
  .footer__copyright {
    font-size: 13px;
    margin: 0;
    padding: 10px;
  }
}

// Shopping cart

.shopping-bg {
  background-image: url(../img/background_02.jpg);
  background-attachment: fixed;
  padding: 20px;
  .title {
    font-size: 25px;
    text-align: center;
  }
  .btn-whatsapp {
    height: 60px;
    width: 100%;
    a img {
    width: 60px;
    }
  }
}
button {
  margin: 10px;
}

.product {
  margin: 20px;
  padding: 20px;
  background-color: white;
  opacity: 90%;
  border-radius: 20px;
  .cart__img {
    size: 80%;
    border-radius: 5px;
  }
  .total {
    border-top: solid 1px grey;
    margin-top: 20px;
    padding-top: 20px;
  }
  .quant {
    button {
      border: white;
      background-color: white;
      margin: 5px;
    }
  }
}

